<div class="card text-center col-xs-12 col-sm-12 col-md-4">
    <div class="img">
        <div class="lp-container" style="background-image: url('{%IMG%}')">
            <!-- <img class="card-img-top img-fluid" src="https://source.unsplash.com/random/300x200" alt=""> -->
            <div class="bc"></div>

            <div class="bottom-left" id="bottom-left">PRICE | {%RENT%}</div>
            <div class="top-right" id="top-right"><a href="property-grid/{%LINK%}" style="color: white !important">Know
                    More ></a>
            </div>

        </div>
        <div id="green">
            <section class="d-flex text-left">
                <p class="flex-fill text-left">
                    <span class="lp-title">Area</span><br>
                    <span class="lp-value">{%AREA%}</span><span class="align-top">2</span>
                </p>
                <p class="flex-fill text-left"><span class="lp-title">Baths</span><br>
                    <span class="lp-value">{%Baths%}</span></p>
                <p class="flex-fill text-left"><span class="lp-title">Rooms</span><br>
                    <span class="lp-value">{%ROOMS%}</span></p>
                <p class="flex-fill text-left"><span class="lp-title">Garages</span><br>
                    <span class="lp-value">{%Garages%}</span></p>
            </section>
        </div>
    </div>
</div>