<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../nav-style.css">
    <link rel="stylesheet" href="../nav-tab.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Document</title>
    <style>
        /* .navbar {
            z-index: 2;
            background-color: #ecf0f1;
            /* margin: -2%; */
        /* } */

        .base {
            font-size: 220%;

        }

        .fas {
            color: #f1c40f;
        }


        .footer-ul {
            list-style: none;
            justify-content: flex-start;
            text-align: center;
        }

        /* .media img{
    width: 40%;
} */
        .footer {
            background-color: #ecf0f1;
            margin-top: 5%;
        }

        .carousel-item {
            height: 100vh;
            min-height: 350px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #carousel-example-generic {
            margin-top: -2%;
        }

        a.list-group-item {
            height: auto;
            min-height: 220px;
        }

        a.list-group-item.active small {
            color: #fff;
        }

        .stars {
            margin: 20px auto 1px;
        }
    </style>
</head>

<body>
    <!-- <nav class="navbar sticky-top navbar-expand-sm navbar-light  mb-2 pb-3.5">
        <div class="container">
            <a class=" base navbar-brand h2" href="#"><span style="color: #2ecc71">JAVA</span>DEVELOPERS</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link h4" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="#">Property</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <div id="mynav">
        <div id="mySidenav" class="sidenav">

            <a id="sb-link" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a id="sb-link" href="../../home" onclick="closeNav()">HOME</a>
            <a id="sb-link" href="../../about.html" onclick="closeNav()">ABOUT</a>
            <a id="sb-link" href="../../contact.html" onclick="closeNav()">CONTACT US</a>
            <a id="sb-link" href="../rcard" onclick="closeNav()">REVIEW</a>
            <a id="sb-link" href="../property-grid" onclick="closeNav()">PROPERTY</a>
            <a id="sb-link" href="../acard" onclick="closeNav()">AGENTS</a>
        </div>

        <!-- logo-md -->
        <nav class="normal">
            <a href="javascript:void(0)" class="opn-btn" onclick="openNav()">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
            <span class="green">Green</span><span class="black">Stones</span>
        </nav>

        <nav id="top">
            <!-- <img class="logo" src="../images/logo.jpeg"> -->
            <div class="logo">
                <span class="green">Green</span>
                <span class="black">Stones</span>
            </div>
            <ul style="margin-right: 1rem !important">

                <li>
                    <a href="../home" id="link">
                        HOME
                    </a>
                </li>
                <li>
                    <a href="../about.html" id="link">
                        ABOUT
                    </a>
                </li>
                <li>
                    <a href="../property-grid" id="link">
                        PROPERTY
                    </a>
                </li>
                <li>
                    <a href="../acard" id="link">
                        AGENTS
                    </a>
                </li>
                <li>
                    <a href="../contact.html" id="link">
                        CONTACT US
                    </a>
                </li>
                <li>
                    <a href="../rcard" id="link">
                        REVIEWS
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <header style="padding-top: 20vh;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <img src="{%img11%}" class="d-block w-100" alt="First slide">
                </div>
                <div class="carousel-item active carousel-item-left">
                    <img src="{%img12%}" class="d-block w-100" alt="Second slide">
                </div>
                <div class="carousel-item carousel-item-next carousel-item-left">
                    <img src="{%img13%}" class="d-block w-100" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="fa fa-angle-left icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="fa fa-angle-right icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </header>


    <!-- <section>
    <div class="container py-3">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="./download (4).jpg" height="220px" width="360px">
                </div>
                <div class="col-md-8">
                    <div class="card-block ">
                        <h4 class="card-title">@AmitAggarwal123</h4>
                        <p class="card-text">Consectetur adipiscing elit, sed do eiusmod ad minim veniam,........................................................................................................................................................................................................................................................................................................................................................................................ quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. </p>
                        <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section> -->
    <br><br>

    <div class="container">
        <div class="row">
            <div class="well">
                <h1 class="text-center">Review This Property</h1><br>
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive" src="{%img1%}"
                                    alt="placehold.it/350x250">
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> {%name1%} </h4>
                            <p class="list-group-item-text"> {%review1%}
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <h2> 14240 <small> votes </small></h2>
                            <button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>
                            <div class="stars">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <p> Average 4.5 <small> / </small> 5 </p>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive" src="{%img2%}"
                                    alt="placehold.it/350x250">
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> {%name2%} </h4>
                            <p class="list-group-item-text"> {%review2%}
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <h2> 12424 <small> votes </small></h2>
                            <button type="button" class="btn btn-primary btn-lg btn-block">Vote Now!</button>
                            <div class="stars">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <p> Average 3.9 <small> / </small> 5 </p>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive" src="{%img3%}"
                                    alt="placehold.it/350x250">
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> {%name3%}</h4>
                            <p class="list-group-item-text"> {%review3%}
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <h2> 13540 <small> votes </small></h2>
                            <button type="button" class="btn btn-primary btn-lg btn-block">Vote Now!</button>
                            <div class="stars">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <p> Average 4.1 <small> / </small> 5 </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3 style="font-weight: bold; margin-top: 17%">JAVADEVELOPERS</h3>
                    <br>
                    <p>Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo
                        consequat
                        duis sed aute
                        irure.<br>
                        <br>
                        <span style="color: black; font-weight: bold">Phone:</span><span style="color: #2980b9">
                            9412631540</span>
                        <br>
                        <span style="color: black; font-weight: bold">Email:</span><a href='#'
                            style="color: #2980b9; text-decoration: none">
                            Javadevelopers12@gmail.com</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3 style="font-weight: bold; margin-top: 17%">THE COMPANY</h3>
                    <br>
                    <p>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Site Map</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Legal</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Agent Admin</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Careers</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Affliate</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Privacy Policy</a>


                    </p>
                </div>
                <div class="col-sm-4">
                    <h3 style="font-weight: bold; margin-top: 17%">NATIONAL SITES</h3>
                    <br>
                    <p>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Delhi</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Punjab</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Uttar Pradesh</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Bangalore</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Gujarat</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Maharashtra</a>


                    </p>

                </div>
                <div>
                </div>

            </div>
            <div class="container text-center">
                <div class="row">
                    <div style="margin: auto;">
                        <ul class="footer-ul">
                            <li>
                                Home
                            </li>
                            <li>
                                Home
                            </li>
                            <li>
                                Home
                            </li>
                            <li>
                                Home
                            </li>
                            <li>
                                Home
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="margin: auto;">
                    <ul class="footer-ul" style="margin-top: 0.9%">
                        <li><a target="_blank" href='https://www.facebook.com'
                                style="text-decoration: none; color: black"><i class="fab fa-facebook-f"
                                    style="font-size: 130%"></i>
                            </a></li>
                        <li><a target="_blank" href='https://www.twitter.com'
                                style="text-decoration: none; color: black"><i class="fab fa-twitter"
                                    style="font-size: 130%"></i>
                            </a></li>
                        <li><a target="_blank" href='https://www.instagram.com'
                                style="text-decoration: none; color: black"><i class="fab fa-instagram"
                                    style="font-size: 130%"></i>
                            </a></li>
                        <li><a target="_blank" href='https://www.pinterest.com'
                                style="text-decoration: none; color: black"><i class="fab fa-pinterest-p"
                                    style="font-size: 130%"></i>
                            </a></li>
                        <li><a target="_blank" href='https://www.whatsapp.com'
                                style="text-decoration: none; color: black"><i class="fab fa-whatsapp"
                                    style="font-size: 130%"></i>
                            </a></li>
                    </ul>
                </div>
            </div>
            <hr style="margin-bottom: 0%; height: 1px ; background-color: lightgray; ">
            <br>
            <div class="footnote text-center">Copyright &copy; 2019 Omnifood.All rights reserved.</div>
            <br>

        </div>
    </div>







    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</body>

</html>