<div class="card">
    <img style="height: 80%" class="card-img-top img-fluid " src="{%img%}" alt="">
    <div class="card-body">
        <a href="./acard/{%LINK%}" style="text-decoration: none">
            <h4 class="card-title">{%firstname%}{%lastname%}</h4>
        </a>
        <p style="color:#34495e" class="card-text">{%description%}
            <br>
            <br>
            <span style="color: black; font-weight: bold">Phone:</span><span style="color: #2980b9">
                {%phone%}</span>
            <br>
            <span style="color: black; font-weight: bold">Email:</span><a href='#'
                style="color: #2980b9; text-decoration: none"> {%email%}</a>
        </p>
    </div>
</div>