<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./review.css" type="text/css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="../nav-style.css">
    <link rel="stylesheet" href="../nav-tab.css">
    <style>
        .heading {
            border-style: solid;
            /* border-right-top-bottom: green; */
            border-right: none;
            border-bottom: none;
            border-top: none;
            border-color: green;
            padding: 2rem;
            margin: 4rem;
        }

        .fas {
            color: #f1c40f;
        }

        .footer-ul {
            list-style: none;
            justify-content: flex-start;
            text-align: center;
        }

        /* .navbar {
            z-index: 2;
            background-color: #ecf0f1; */
        /* margin: -2%;
        }
 

        / .base {
            font-size: 220%;

        }

        /* .media img{
    width: 40%;
} */
        .footer {
            background-color: #ecf0f1;
            margin-top: 5%;
        }

        /* .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
        .card-image-overlay {
            border-color: white;
            background-color: antiquewhite;
            background: solid;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <!-- <nav class="navbar sticky-top navbar-expand-sm navbar-light  mb-2 pb-3.5">
        <div class="container">
            <a class=" base navbar-brand h2" href="#"><span style="color: #2ecc71">JAVA</span>DEVELOPERS</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link h4" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="#">Property</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <div id="mynav">
        <div id="mySidenav" class="sidenav">

            <a id="sb-link" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a id="sb-link" href="../home" onclick="closeNav()">HOME</a>
            <a id="sb-link" href="../about.html" onclick="closeNav()">ABOUT</a>
            <a id="sb-link" href="../contact.html" onclick="closeNav()">CONTACT US</a>
            <a id="sb-link" href="#container6" onclick="closeNav()">REVIEW</a>
            <a id="sb-link" href="../property-grid" onclick="closeNav()">PROPERTY</a>
            <a id="sb-link" href="../acard" onclick="closeNav()">AGENTS</a>
        </div>

        <!-- logo-md -->
        <nav class="normal">
            <a href="javascript:void(0)" class="opn-btn" onclick="openNav()">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
            <span class="green">Green</span><span class="black">Stones</span>
        </nav>

        <nav id="top">
            <!-- <img class="logo" src="../images/logo.jpeg"> -->
            <div class="logo">
                <span class="green">Green</span>
                <span class="black">Stones</span>
            </div>
            <ul style="margin-right: 1rem !important">

                <li>
                    <a href="../home" id="link">
                        HOME
                    </a>
                </li>
                <li>
                    <a href="../about.html" id="link">
                        ABOUT
                    </a>
                </li>
                <li>
                    <a href="../property-grid" id="link">
                        PROPERTY
                    </a>
                </li>
                <li>
                    <a href="../acard" id="link">
                        AGENTS
                    </a>
                </li>
                <li>
                    <a href="../contact.html" id="link">
                        CONTACT US
                    </a>
                </li>
                <li>
                    <a href="#" id="link">
                        REVIEWS
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container" style="padding-top: 20vh;">
        <div class="row">
            <div class="heading">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Review US</h1>
                        <span>Aut voluptas consequatur unde sed omnis ex placeat quis eos. Aut natus
                            officia corrupti qui autem fugit consectetur quo. Et ipsum eveniet laboriosam voluptas
                            beatae
                            possimus qui ducimus. Et voluptatem deleniti. Voluptatum voluptatibus amet. Et esse sed
                            omnis
                            inventore hic culpa.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="cards">
            <div class="row">
                {%cards%}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3 style="font-weight: bold; margin-top: 17%">JAVADEVELOPERS</h3>
                    <br>
                    <p>Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo
                        consequat
                        duis sed aute
                        irure.<br>
                        <br>
                        <span style="color: black; font-weight: bold">Phone:</span><span style="color: #2980b9">
                            9412631540</span>
                        <br>
                        <span style="color: black; font-weight: bold">Email:</span><a href='#'
                            style="color: #2980b9; text-decoration: none">
                            Javadevelopers12@gmail.com</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3 style="font-weight: bold; margin-top: 17%">THE COMPANY</h3>
                    <br>
                    <p>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Site Map</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Legal</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Agent Admin</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Careers</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Affliate</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Privacy Policy</a>


                    </p>
                </div>
                <div class="col-sm-4">
                    <h3 style="font-weight: bold; margin-top: 17%">NATIONAL SITES</h3>
                    <br>
                    <p>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Delhi</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Punjab</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Uttar Pradesh</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Bangalore</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Gujarat</a><br>
                        <a href="#" style="text-decoration: none"><i class="fas fa-chevron-right "></i>
                            Maharashtra</a>


                    </p>

                </div>
                <div>
                </div>

            </div>
            <div class="container text-center">
                <div class="row">
                    <div style="margin: auto;">
                        <ul class="footer-ul">
                            <li>
                                Home
                            </li>
                            <li>
                                Home
                            </li>
                            <li>
                                Home
                            </li>
                            <li>
                                Home
                            </li>
                            <li>
                                Home
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="margin: auto;">
                    <ul class="footer-ul" style="margin-top: 0.9%">
                        <li><a target="_blank" href='https://www.facebook.com'
                                style="text-decoration: none; color: black"><i class="fab fa-facebook-f"
                                    style="font-size: 130%"></i>
                            </a></li>
                        <li><a target="_blank" href='https://www.twitter.com'
                                style="text-decoration: none; color: black"><i class="fab fa-twitter"
                                    style="font-size: 130%"></i>
                            </a></li>
                        <li><a target="_blank" href='https://www.instagram.com'
                                style="text-decoration: none; color: black"><i class="fab fa-instagram"
                                    style="font-size: 130%"></i>
                            </a></li>
                        <li><a target="_blank" href='https://www.pinterest.com'
                                style="text-decoration: none; color: black"><i class="fab fa-pinterest-p"
                                    style="font-size: 130%"></i>
                            </a></li>
                        <li><a target="_blank" href='https://www.whatsapp.com'
                                style="text-decoration: none; color: black"><i class="fab fa-whatsapp"
                                    style="font-size: 130%"></i>
                            </a></li>
                    </ul>
                </div>
            </div>
            <hr style="margin-bottom: 0%; height: 1px ; background-color: lightgray; ">
            <br>
            <div class="footnote text-center">Copyright &copy; 2019 Omnifood.All rights reserved.</div>
            <br>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</body>

</html>